$color-0: hsl(26.6, 89.7%, 54.1%);
$color-1: hsl(26.1, 89.7%, 54.1%);
$color-2: hsl(23.4, 89.7%, 54.1%);
$color-3: hsl(20.6, 89.7%, 54.1%);
$color-4: hsl(17.6, 89.7%, 54.1%);
$color-5: hsl(14.4, 89.7%, 54.1%);
$color-6: hsl(10.7, 89.7%, 54.1%);
$color-7: hsl(6.5, 89.7%, 54.1%);
$color-8: hsl(.6, 89.7%, 54.1%);
$color-9: hsl(353.1, 89.7%, 54.1%);
$color-10: hsl(347.9, 89.7%, 54.1%);
$color-11: hsl(343.3, 89.7%, 54.1%);
$color-12: hsl(339.2, 89.7%, 54.1%);
$color-13: hsl(335.2, 89.7%, 54.1%);
$color-14: hsl(331.3, 89.7%, 54.1%);
$color-15: hsl(327.5, 89.7%, 54.1%);
$color-16: hsl(323.8, 89.7%, 54.1%);
$color-17: hsl(320, 89.7%, 54.1%);
$color-18: hsl(316.3, 89.7%, 54.1%);
$color-19: hsl(312.5, 89.7%, 54.1%);
$color-20: hsl(308.7, 89.7%, 54.1%);
$color-21: hsl(304.9, 89.7%, 54.1%);
$color-22: hsl(301.1, 89.7%, 54.1%);
$color-23: hsl(297.3, 89.7%, 54.1%);
$color-24: hsl(294.4, 89.7%, 54.1%);
$color-25: hsl(291.5, 89.7%, 54.1%);
$color-26: hsl(288.6, 89.7%, 54.1%);
$color-27: hsl(285.7, 89.7%, 54.1%);
$color-28: hsl(282.8, 89.7%, 54.1%);
$color-29: hsl(279.9, 89.7%, 54.1%);
$color-30: hsl(277, 89.7%, 54.1%);
$color-31: hsl(274.1, 89.7%, 54.1%);
$color-32: hsl(271.3, 89.7%, 54.1%);
$color-33: hsl(268.4, 89.7%, 54.1%);
$color-34: hsl(265.5, 89.7%, 54.1%);
$color-35: hsl(262.5, 89.7%, 54.1%);
$color-36: hsl(259.5, 89.7%, 54.1%);
$color-37: hsl(256.4, 89.7%, 54.1%);
$color-38: hsl(253.1, 89.7%, 54.1%);
$color-39: hsl(249.5, 89.7%, 54.1%);
$color-40: hsl(245.4, 89.7%, 54.1%);
$color-41: hsl(239.4, 89.7%, 54.1%);
$color-42: hsl(234.7, 89.7%, 54.1%);
$color-43: hsl(231.1, 89.7%, 54.1%);
$color-44: hsl(227.9, 89.7%, 54.1%);
$color-45: hsl(225.1, 89.7%, 54.1%);
$color-46: hsl(222.4, 89.7%, 54.1%);
$color-47: hsl(220, 89.7%, 54.1%);
$color-48: hsl(217.6, 89.7%, 54.1%);
$color-49: hsl(215.3, 89.7%, 54.1%);
$color-50: hsl(213, 89.7%, 54.1%);
$color-51: hsl(210.8, 89.7%, 54.1%);
$color-52: hsl(208.7, 89.7%, 54.1%);
$color-53: hsl(206.6, 89.7%, 54.1%); // primary (#2196f3)
$color-54: hsl(204.5, 89.7%, 54.1%);
$color-55: hsl(202.4, 89.7%, 54.1%);
$color-56: hsl(200.3, 89.7%, 54.1%);
$color-57: hsl(198.3, 89.7%, 54.1%);
$color-58: hsl(196.3, 89.7%, 54.1%);
$color-59: hsl(194.2, 89.7%, 54.1%);
$color-60: hsl(192.2, 89.7%, 54.1%);
$color-61: hsl(190.2, 89.7%, 54.1%);
$color-62: hsl(188.2, 89.7%, 54.1%);
$color-63: hsl(186.1, 89.7%, 54.1%);
$color-64: hsl(184.1, 89.7%, 54.1%);
$color-65: hsl(182.1, 89.7%, 54.1%);
$color-66: hsl(180, 89.7%, 54.1%);
$color-67: hsl(176, 89.7%, 54.1%);
$color-68: hsl(172, 89.7%, 54.1%);
$color-69: hsl(167.9, 89.7%, 54.1%);
$color-70: hsl(163.7, 89.7%, 54.1%);
$color-71: hsl(159.4, 89.7%, 54.1%);
$color-72: hsl(154.9, 89.7%, 54.1%);
$color-73: hsl(150.2, 89.7%, 54.1%);
$color-74: hsl(145.1, 89.7%, 54.1%);
$color-75: hsl(139.4, 89.7%, 54.1%);
$color-76: hsl(132.5, 89.7%, 54.1%);
$color-77: hsl(122.3, 89.7%, 54.1%);
$color-78: hsl(104.5, 89.7%, 54.1%);
$color-79: hsl(96, 89.7%, 54.1%);
$color-80: hsl(89.3, 89.7%, 54.1%);
$color-81: hsl(83.5, 89.7%, 54.1%);
$color-82: hsl(78.2, 89.7%, 54.1%);
$color-83: hsl(73.4, 89.7%, 54.1%);
$color-84: hsl(68.8, 89.7%, 54.1%);
$color-85: hsl(64.4, 89.7%, 54.1%);
$color-86: hsl(60.1, 89.7%, 54.1%);
$color-87: hsl(57.7, 89.7%, 54.1%);
$color-88: hsl(55.5, 89.7%, 54.1%);
$color-89: hsl(53.2, 89.7%, 54.1%);
$color-90: hsl(50.9, 89.7%, 54.1%);
$color-91: hsl(48.6, 89.7%, 54.1%);
$color-92: hsl(46.3, 89.7%, 54.1%);
$color-93: hsl(44, 89.7%, 54.1%);
$color-94: hsl(41.7, 89.7%, 54.1%);
$color-95: hsl(39.4, 89.7%, 54.1%);
$color-96: hsl(37, 89.7%, 54.1%);
$color-97: hsl(34.6, 89.7%, 54.1%);
$color-98: hsl(32.2, 89.7%, 54.1%);
$color-99: hsl(29.7, 89.7%, 54.1%);
$color-100: hsl(27.1, 89.7%, 54.1%);
$color-101: hsl(26.6, 89.7%, 54.1%);
