$sat-base: 89.7%;

$theme-hues: (
        'red': 353.1,
        'orange': 26.6,
        'yellow': 53.2,
        'green': 122.3,
        'teal': 167.9,
        'cyan': 190.2,
        'blue': 206.6, // Primary
        'indigo': 239.4,
        'purple': 279.9,
        'magenta': 335.2
);

$lightness-steps: (
        50: 95%,
        100: 90%,
        200: 80%,
        300: 70%,
        400: 60%,
        500: 54.1%,
        600: 45%,
        700: 35%,
        800: 25%,
        900: 15%,
        950: 10%
);

$slate-steps: (
        25: 99%,
        50: 97%,
        100: 92%,
        200: 84%,
        300: 75%,
        400: 65%,
        500: 50%,
        600: 40%,
        700: 30%,
        800: 24%,
        825: 21%,
        850: 18%,
        875: 15%,
        900: 12%,
        910: 11%,
        920: 10%,
        930: 9%,
        940: 8%,
        950: 7%,
        960: 6%,
        975: 4%,
        990: 2%,
        1000: 0%
);