@use "sass:list";

$lyco-all-colors: 'red', 'orange', 'amber', 'yellow', 'lime', 'green', 'teal', 'cyan', 'blue', 'indigo', 'purple', 'fuchsia', 'pink', 'neutral', 'white';
$lyco-light-colors: 'orange', 'amber', 'yellow', 'lime', 'green', 'teal', 'cyan', 'white';

@mixin for-each-theme-color {
  @each $color in $lyco-all-colors {
    $is-light: list.index($lyco-light-colors, $color) !=null;

    &-#{$color} {
      @content($color, $is-light);
    }
  }
}